<h1>Register</h1>
<div class="register-content">
  <form class=" col-md-8" [formGroup]="form" (ngSubmit)="register()">

    <div class="form-group">
      <label for="inputName">Name:</label>
      <input type="text" formControlName="name" class="form-control" id="name" name="name"
        placeholder="Enter your name">
      <ng-container *ngIf="form.get('name')?.touched">
        <p class="error" *ngIf="form.get('name')?.errors?.['required']"> Name is required !</p>
        <p class="error" *ngIf="form.get('name')?.errors?.['minlength']">Name must be at least 2 characters !</p>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="inputLastName">Last Name:</label>
      <input type="text" formControlName="lastName" class="form-control" name="lastName" id="lastName"
        placeholder="Enter your last name">
      <ng-container *ngIf="form.get('lastName')?.touched">
        <p class="error" *ngIf="form.get('lastName')?.errors?.['required']"> Last name is required !</p>
        <p class="error" *ngIf="form.get('lastName')?.errors?.['minlength']">Last name must be at least 2 characters !</p>
      </ng-container>
    </div>
    
    <div class="form-group">
      <label for="inputAddress">E-mail:</label>
      <input type="email" formControlName="email" class="form-control" name="email" id="email" placeholder="example@gmail.com">
      <ng-container *ngIf="form.get('email')?.touched">
        <p class="error" *ngIf="form.get('email')?.errors?.['required']"> Email adress is required !</p>
        <p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']"> Email adress is invalid !</p>
    </ng-container>
    </div>
    <ng-container formGroupName="passGroup">
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" formControlName="password" class="form-control" id="password"
          placeholder="At least 4 characters">
      </div>
      <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
        <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']"> Passwords must be at least 5 characters !</p>
      </ng-container>

      <div class="form-group">
        <label for="repeatPassword">Repeat Password:</label>
        <input type="password" name="repeatPassword" formControlName="repeatPassword" class="form-control"
          id="repeatPassword" placeholder="At least 4 characters">
      </div>
      <ng-container *ngIf="form.get('passGroup')?.get('repeatPassword')?.touched">
        <p class="error" *ngIf="form.get('passGroup')?.errors?.['passwordsMatchValidator'] || form.get('passGroup')?.get('repeatPassword')?.errors?.['required']"> Passwords dont match !</p>
      </ng-container>
    </ng-container>

    <button [disabled]="form.invalid" [style]="{ backgroundColor: form.invalid ? 'gray' : ''}">Submit</button>

    <h4>Already registered? <a routerLink="/auth/login"> Sign up here!</a></h4>
  </form>
</div>