/*Latest Blog*/

#blog {
    min-height: 500px;
    padding: 80px 0;
}
#blog p {
    display: inline-block;
}
#blog .latest_blog {
}
#blog .latest_blog h2 {
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    color: #222222;
}
#blog .latest_blog p {
    padding-bottom: 45px;
    font-size: 16px;
    color: #646464;
    font-family: 'Open Sans', sans-serif;
}
#blog .single_blog_item {
    border: 3px solid #d1d3d1;
}
#blog .blog_content {
    padding: 15px;
    height: 145px;
}
#blog .blog_content h3 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #454444;
    font-family: 'Roboto Slab', serif;
}
#blog .expert {
    padding-bottom: 20px;
    color: #aeadad;
}
#blog .expert span.time {
    padding-right: 10px;
    border-right: 1px solid;
}
#blog .expert span.admin {
    padding-left: 5px;
    color: #aeadad;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
#blog .blog_news .blog_img img {
    height: 230px;
    width: 100%;
}
#blog .blog_news span.right_msg span {
    font-size: 14px;
    color: #aeadad;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
#blog .expert a {
    color: #aeadad;
}
#blog .expert p.right_side {
    padding-left: 110px;
}
#blog p.blog_news_content {
    color: #646464;
    font-size: 14px;
    padding-bottom: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#blog a.blog_link {
    text-transform: uppercase;
    font-weight: 500;
    color: #545353;
    transition: 0.7s;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
#blog a.blog_link:hover {
    color:goldenrod;
}

h1 {
    margin: 1.8em;
    text-align: center;
    font-weight: bolder;
}

h1 a {
    color: black;
    font-weight: bolder;
}
h1 a:hover {
    color: goldenrod;
    border-bottom: 3px solid goldenrod;
}

.blog_link {
    border: 1px solid goldenrod;
    border-radius: 7px;
    background-color: goldenrod;
    padding: 0.5em;
}

.blog_link span {
    color: black;
    font-weight: bold;
}

.blog_link span:hover {
   
    color: white;
}
.element {
    margin-bottom: 45px;
}