<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
    
        <div class="about">
            <p class="text-blk heading">
                {{post.title}}
            </p>
        </div>

      <div class="imgContainer">
        <img class="mainImg" src="{{post.imageUrl}}">
      </div>
      <div class="responsive-container-block textSide">
        <p class="text-blk subHeading">Author: {{post.name}}</p>
        <p class="text-blk subHeading">
            {{post.myPost}}
        </p>
      </div>
    </div>
  </div>