<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest_blog text-center">
                    <h2>latest blog</h2>
                    <h1>Learn tips and good practices from our professionals!</h1>
                </div>
            </div>
        </div>
        <!--End of row-->
        <div class="row">
            <div class="col-md-4" *ngFor="let post of latestPosts">
                <div class="blog_news">
                    <div class="single_blog_item">
                        <div class="blog_img">
                            <img src={{post.imageUrl}} alt="">
                        </div>
                        <div class="blog_content">
                            <h3>{{post.title}}</h3>
                            <div class="expert">
                                <div class="left-side text-left">
                                    <p class="left_side">
                                        <span class="admin"><i class="fa fa-user"></i> {{post.name}}</span>
                                    </p>
                                    <p class="right_side text-right">
                                        <span class="right_msg text-right"><i class="fa fa-comments-o"></i></span>
                                            <span class="count"> {{0}}</span>
                                    </p>
                                </div>
                            </div>

                            <a routerLink="blog/:_Id" class="blog_link"><span>read article</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of col-md-4-->
        </div>
        <h1>If you have good stories or got questions and you are not our member go to <a routerLink="/register">REGISTER</a> now!</h1>
        <!--End of row-->
    </div>
    <!--End of container-->
</section>