.welcome-message {
    margin: 2em;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 3.4em;
    font-weight: bolder;
}

.welcome-message span{
    border: 1px solid black;
    background-color: black;
    padding: 0.5em 1em;
    color: goldenrod;
}