<section id="header">
    <div class="header-area">
        <div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
            <div class="container">
                <nav class="navbar navbar-default zero_mp ">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand custom_navbar-brand" href="#"><img src="../../../assets/img/THlogo2.png" alt=""></a>
                    </div>
                    <!--End of navbar-header-->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right main_menu">
                            <li><a routerLink="/">Home <span class="sr-only">(current)</span></a></li>
                            <li><a routerLink="/about">About Us</a></li>
                            <li><a routerLink="/blog">Blog</a></li>
                            <li><a routerLink="/auction">Auction</a></li>
                            <li><a routerLink="/login">Login</a></li>
                            <li><a routerLink="/register">Register</a></li>
                            <li><a routerLink="/logout">Logout</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
                <!--End of nav-->
            </div>
            <!--End of container-->
        </div>
        <!--End of header menu-->
    </div>
    <!--end of header area-->
</section>
