
#slider {
    min-height: 490px;
}
#slider .slider_text {
    padding-bottom: 13%;
}
#slider .slider_text h2 {
    font-size: 52px;
    padding: 10px 0;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
#slider .slider_text h3 {
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
#slider .slider_text p {
    font-size: 17px;
    padding-bottom: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
#slider .slider_text a.custom_btn {
    font-size: 14px;
    color: #fff;
    padding: 15px 25px;
    background: #43a906;
    border-radius: 2px;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
#slider .slider_text h2,
#slider .slider_text h3,
#slider .slider_text p,
#slider .slider_text a.custom_btn {
    text-transform: uppercase;
}
#slider .slider_text h3 {
    font-size: 45px;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
#slider .slider_overlay {
    position: relative;
}
#slider .slider_overlay:after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*Slider Fade In*/

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}