<section id="slider">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div *ngFor="let image of images; let i = index" class="item" [class.active]="i === currentImageIndex">
          <div class="slider_overlay">
            <img [src]="image.src" [alt]="image.alt">
            <div class="carousel-caption">
              <div class="slider_text">
                <h3>{{ image.title }}</h3>
                <h2>{{ image.subtitle }}</h2>
                <p>{{ image.description }}</p>
                <a href="/blog" class="custom_btn">Visite Our Blog</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of Carousel Inner-->
    </div>
  </section>
  